@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
/* stylelint-disable */
:root {
  --vs-typography-font-family-primary: 'Montserrat', sans-serif;
  --vs-typography-font-family-secondary: 'Open Sans', sans-serif;
  
  --vs-typography-heading-size-6: 3.5rem;
  --vs-typography-heading-size-5: 3rem;
  --vs-typography-heading-size-4: 2.5rem;
  --vs-typography-heading-size-3: 2rem;
  --vs-typography-heading-size-2: 1.5rem;
  --vs-typography-heading-size-1: 1.5rem;
  
  --vs-typography-size-large: 1.25rem;                                /* 20px */
  --vs-typography-size-normal: 1rem;                                  /* 16px */
  --vs-typography-size-small: 0.875rem;                               /* 14px */
  --vs-typography-size-tiny: 0.75rem;                                 /* 12px */
  
  --vs-typography-size-medium: 1.125rem;                              /* 18px */
  --vs-typography-size-xs: 0.625rem;                                  /* 10px */
  color: var(--vs-color-black);
}
:where(h1) {
  font-size: var(--vs-typography-heading-size-6);
}
:where(h2) {
  font-size: var(--vs-typography-heading-size-5);
}
:where(h3) {
  font-size: var(--vs-typography-heading-size-4);
}
:where(h4) {
  font-size: var(--vs-typography-heading-size-3);
}
:where(h5) {
  font-size: var(--vs-typography-heading-size-2);
}
:where(h6) {
  font-size: var(--vs-typography-heading-size-1);
}
